<html>

<head>
    <title>Unnamed Bill Sharing App</title>
</head>

<body>
    <div id="app">
        <div id="login" v-if="screen == 'login'">
            <input v-model="venmo_username" class="input" type="text" placeholder="@your_venmo_username (include the @)">
            <a href="#" @click="login()">Log In</a>
        </div>
        <div id="scanner" v-if="screen == 'scanner'">
            <a href="#" @click="scan()">Scan</a>
        </div>
        <div id="user-selection" v-if="screen == 'user-selection'">
            <a href="#" @click="createBill()">Continue</a>
        </div>
        <div id="bill" v-if="screen == 'bill'">
            <a href="#" @click="finishBill()">You're All Set</a>
        </div>
        <div id="tip" v-if="screen == 'tip'">
            <h1>Tip</h1>
            <a href="#" @click="tip(0)">No Thanks</a>
        </div>
        <div id="finish" v-if="screen == 'finish'">
            <a href="#" @click="makeReport()">View the Bill</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script src='https://cdn.jsdelivr.net/gh/naptha/tesseract.js@v1.0.14/dist/tesseract.min.js'></script>
    <script src="./index.js"></script>
</body>

</html>